@use '../../Components/style/color';

.wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
  padding: 3rem;
  background: #2e2e2e;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  .top {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    .tool {
      display: flex;
      gap: 1rem;
    }
  }

  .wrapArea {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @media (max-width: 1100px) {
      flex-direction: column;
    }


  }
}

