@use '../style/color';

.wrap {
  background: color.$triple;
  color: white;
  font-size: 1.2rem;
  padding: .5rem;
  resize: vertical;
  height: calc(100vh - 10rem);
  //min-height: 40vh;
  width: 100%;
}